extends ../layouts/UserMailer.pug

block title
  div Forgot your password?
  div Recover it.

block content
  - var resetPasswordURL = `${CONFIG.env().siteURL}${CONFIG.router.helpers.resetPasswordWithToken.url(encodeURIComponent(user.resetPasswordToken))}`
  div(style="font-size: 16px; line-height: 142%;")
    div(style="font-family: monospace; color: #000000;")
      div Hi #{user.account.fullname},
      div No need to worry, you can reset your password by clicking the link below:
      div
        a(href=resetPasswordURL style="color: #f04c34;")= resetPasswordURL
          |  or by clicking the button below.

  div(style="text-align: center;")
    div &nbsp;
    div &nbsp;
    a(href=resetPasswordURL style=" font-size: 16px; display: inline-block; padding-top: 14px; padding-bottom: 14px; padding-left: 34px; padding-right: 34px; background-color: #f04c34; color: #ffffff; text-decoration: none; border-radius: 2px;")
      | Reset password
    div &nbsp;
    div &nbsp;
