@import '../../components/dispute-tools/Sidebar';
@import '../../components/dispute-tools/TextModal';

/* 1 */
.Tool__DisputeCard {
  padding: var(--space-2) var(--space-3) var(--space-3);
  background-color: #fff;
  color: #000;
}

.Tool__About {
  &__Content {
    background-color: var(--k-color-palette-accent);
    padding: var(--space-2) var(--space-3);
    color: var(--k-color-palette-neutral-dark);
    margin: var(--space-3);

    & h3 {
      margin-bottom: 15px;
    }

    & p {
      margin-bottom: 10px;
    }

    & p:last-child {
      margin-bottom: 0;
    }
  }
}
