.ProfileWrapper {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.Profile__map {
  top: -60px;
  background-position: 50%;
  background-size: cover;
  opacity: 0.7;
  mix-blend-mode: lighten;
}

.Profile__image-wrapper {
  order: 1;
}

.Profile__info-wrapper {
  background-color: var(--k-background-color);
}

hr {
  height: 5px;
  background-color: var(--k-color-palette-accent);
  border: none;
}
