.PaymentMethods {
  display: none;
  margin-top: 18px;
  margin-bottom: 48px;

  &--stripe {
    margin-bottom: 36px;
  }
}

/**
* Donate section
*/

.DonateOptions {
  margin-top: 24px;
  margin-bottom: 36px;
}

.DonateOption {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: #242424;
  padding-left: 66px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 31px;
}

.DonateOptions .DonateOption:first-child {
  margin-bottom: 21px;
}

.DonateOption.active {
  background-color: #fff;
  cursor: default;
}

.DonateOption:not(.active):hover {
  cursor: pointer;
}

.DonateOption h4 {
  opacity: 0.5;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.33;
  color: #fff;
  margin-bottom: 4px;
}

.DonateOption.active h4 {
  color: #417505;
  opacity: 1;
}

.DonateOption small {
  display: inline-block;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.44;
  color: #ebebeb;
}

.DonateOption.active small {
  color: #000;
  opacity: 1;
}

.DonateOption::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.12);
  border: solid 0.5px #b3b3b3;
}

.DonateOption.active::before {
  background-color: #3b99fc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.DonateOption.active::after {
  content: '';
  position: absolute;
  left: 29px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 100%;
  border: solid 0.5px #b3b3b3;
  width: 6px;
  height: 6px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.AmountOption {
  width: 100%;
  height: 44px;
  border-radius: 2px;
  background-color: #242424;
  border: none;
  opacity: 0.5;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 2.75;
}

.AmountOption.active {
  background-color: #fff;
  font-size: 1em;
  font-weight: bold;
  color: #417505;
  cursor: default;
  opacity: 1;
}

.AmountOption:not(.active):hover {
  cursor: pointer;
}

/**
* Payment section
*/

.PaymentMethod {
  width: 170px;
  height: 130px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border: solid 2px #fff;
}

.PaymentMethod:hover {
  cursor: pointer;
}

.PaymentMethod.active {
  border: solid 2px #f04c34;
}

.PaymentMethod svg {
  margin-top: 16px;
  margin-bottom: 9px;
  fill: #f04c34;
}

.PaymentMethod strong {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #000;
  width: 100%;
}

.PaymentMethod small {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.42;
  color: rgba(74, 74, 74, 0.5);
  width: 100%;
}

section.Payment .flex div:first-child .PaymentMethod {
  margin-right: 30px;
}

.DonationForm .btn-back {
  cursor: pointer;
}

.DonationForm .btn-back:hover {
  background-color: rgb(58, 58, 58);
  color: #fff;
}

/**
* Success section
*/

section.Success {
  position: relative;
  padding-top: 200px;
}

/**
* Error section
*/

section.Error {
  position: relative;
  width: 380px;
  height: 380px;
  padding-top: 120px;
}

section.Error .DonationResponse {
  padding: 0 10px;
}

/**
* DonationResponse for Error and Success sections
*/

.DonationResponse {
  /* border: 1px dashed red; */
  text-align: center;
}

.DonationResponse img {
  width: 48px;
  height: 48px;
  margin-bottom: 30px;
}

.DonationResponse h3 {
  margin-bottom: 23px;
}

.DonationResponse h2 {
  margin-bottom: 12px;
}

.DonationResponse p {
  max-width: 370px;
}

.DonationResponse p:first-child {
  display: inline-block;
  margin-bottom: 30px;
}

.DonationResponse .btn-back {
  margin: 0 auto;
  margin-top: 43px;
  float: none;
}
