.Dropdown {
  position: relative;

  &.-has-dropdown:hover > .Dropdown__body {
    transition: none;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 10px, 0);
  }

  &.-right > .Dropdown__body {
    right: 0;
  }

  & .-separator {
    border-bottom: 1px solid var(--k-color-palette-neutral-light);
    margin: var(--space-1) var(--space-2);
  }
}

.Dropdown__head {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  &::after {
    content: '▾';
    padding-left: 0.75em;
  }
}

.Dropdown__body {
  z-index: 1;
  position: absolute;
  top: 100%;
  padding: 1rem 0;
  min-width: 100%;
  white-space: nowrap;
  list-style: none;
  background-color: white;

  &[aria-hidden='false'] {
    opacity: 1;
    transform: translate3d(0, 10px, 0);
    transition: opacity 100ms linear, transform 100ms ease-in;
  }

  &[aria-hidden='true'] {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: visibility 0ms linear 100ms opacity 100ms linear, transform 100ms ease-in;
  }

  &::before {
    content: '';
    position: absolute;
    right: 6px;
    top: -12px;
    width: 0;
    height: 0;
    border-width: 6px;
    border-color: transparent transparent white;
    border-style: solid;
  }
}

.Dropdown__backdrop {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 200ms linear;
  transform: translate3d(0, 0, 0);

  &.active {
    opacity: 1;
  }
}
