.-is-admin {
  & .Header__bg {
    background-color: var(--k-color);
  }

  & .Header__link,
  & .Header .Dropdown__head {
    color: var(--k-background-color);
  }

  & .Header__dropdown-item {
    color: var(--k-color);
  }
}

.Header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  color: var(--k-color);

  &__bg {
    z-index: -1;
    transform: translate3d(0, 0, 0);
    background-color: var(--k-background-color);
  }

  & .Dropdown__label {
    max-width: 150px;
  }
}

.Header__logo {
  font-size: 1rem;

  &-svg {
    display: block;
    height: 20px;

    &.-small {
      display: none;
    }

    @media (max-width: 880px) {
      &.-small {
        display: block;
      }

      &.-large {
        display: none;
      }
    }
  }
}

.Header__link {
  color: var(--k-color);

  &.active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: var(--k-color-palette-primary);
      transform: translateY(-10px);
    }
  }
}

.Header__dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25em 1.75em;
  border: none;
  font: inherit;
  font-weight: 500;
  text-align: left;
  color: var(--k-background-color);
  background-color: inherit;
  cursor: pointer;
  transition: color 260ms;

  &:hover {
    color: var(--k-color-palette-primary);
  }
}
