.Modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transform: translate3d(0, 150px, 0);
  transition: visibility 0ms linear 300ms, opacity 160ms linear, transform 300ms ease-in;

  &[aria-hidden='false'] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 200ms linear, transform 300ms cubic-bezier(0.17, 0.84, 0.44, 1);
    transition-delay: 0ms;
  }
}

.Modal__close {
  position: fixed;
  top: 2rem;
  right: 2rem;
  border: none;
  padding: 0.5rem;
  background-color: transparent;
  color: white;

  & > svg {
    display: inline-block;
    vertical-align: top;
    fill: #fff;
    transform: scale(1);
    transition: transform 100ms ease-out;
  }

  &:hover > svg,
  &:focus > svg {
    transform: scale(1.2);
  }
}

.Modal__body {
  overflow: auto;
  padding: 5rem 0;
  height: 100%;
  color: #fff;
}
