@import '../../components/dispute-tools/Sidebar';
@import '../../components/dispute-tools/TextModal';
@import '../../components/disputes/StatusItem';

/* @import '../../components/AvatarList'; */
@import '../../components/ConfirmInline';

.Dispute__step-content[aria-hidden='true'] {
  display: none;
}

hr {
  height: 3px;
  background-color: rgba(235, 235, 235, 0.2);
  border: none;
}

fieldset {
  padding: 0;
  border: none;

  /* box-shadow: 0 0 0 1px dodgerblue; */
}

/* information */
.Tool__Info {
  padding: var(--space-3) var(--space-3) 40px;
  background-color: #333;
  border-radius: var(--border-radius);

  &.-upload {
    border: 2px dashed rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.-completed {
    position: relative;
    border: none;
    background-color: #fff;
    color: #000;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 4px;
      right: 4px;
      height: 5px;
      background-color: var(--k-color-palette-neutral-mid);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    & .Tool__Info__footer-caption {
      color: var(--k-color-palette-neutral-mid);
    }

    & .Tool__Info-optional-badge {
      background-color: color(var(--k-color-palette-neutral-mid) alpha(25%));
      color: var(--k-color-palette-neutral-mid);
    }
  }

  &__footer-caption {
    padding-top: 5px;
    margin-bottom: -26px;
  }

  &-optional-badge {
    background-color: color(var(--k-color-palette-accent) alpha(25%));
    color: var(--k-color-palette-accent);
  }

  &-badge {
    width: 40px;
    color: #fff;
    padding: 0 0.3em;
    background-color: #000;

    &.-pdf {
      background-color: var(--k-color-palette-primary);
    }

    &.-doc {
      background-color: #4a90e2;
    }
  }
}

.CloseAndSaveFormButton {
  position: fixed;
  top: 2.3rem;
  right: 5rem;
}

/* process */
.Tool__process-option {
  display: block;
  height: 100%;
  cursor: pointer;

  & > input[type='radio'] {
    display: none;
  }

  &-inner {
    padding: var(--space-3);
    border-radius: var(--border-radius);
    background-color: var(--k-color-palette-neutral-mid-dark);
  }

  &-icon {
    height: 60px;
    margin-bottom: var(--space-1);
    opacity: 0.6;
  }

  & .css-btn-selected {
    display: none;
  }

  & > input[type='radio']:checked {
    & + .Tool__process-option-inner {
      background-color: #fff;
      color: #000;

      & .Tool__process-option-icon {
        opacity: 1;
      }

      & .-k-btn {
        display: none;
      }

      & .css-btn-selected {
        display: block;
      }
    }
  }
}

/* follow-up */
.Dispute__FollowUp__Title {
  border-top: 5px solid var(--k-color-palette-accent);
}

.Dispute__FollowUp__card {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 14px;
    right: 14px;
    height: 4px;
    border-radius: 0 0 1px 1px;
    background-color: var(--k-color-palette-neutral-mid);
  }
}

.Dispute__FollowUp__MainStatus {
  border-bottom: 5px solid;
}

.Dispute__FollowUp__SendBtn {
  padding-left: 4em;
  padding-right: 4em;
}
