.px2(data-component-usernewform)
  .max-width-1.mx-auto
    h3#modalSignupTitle.pb2 Join us

    form(method="post" action=routeMappings.Users.create.url())
      input(type="hidden" name="_csrf" value=csrfToken)

      .UsersNewForm__step.js-step-1
        p#modalSignupDesc.-fw-500.mb1 First, let us know your types of debt, check all that apply:
        .pb3.mxn1
          -
            var _collectives = COLLECTIVES.slice();
            _collectives = _collectives.filter(c => c.name.indexOf('Solidarity') === -1);

          each collective in _collectives
            - var name = collective.name.replace(/\sCollective$/, '').replace(/\s\and\s/g, ' & ')
            label.UsersNewForm__collective-option
              input(
                name="collectiveIds"
                type="checkbox"
                value= collective.id
                checked= _formData && _formData.collectiveIds && _formData.collectiveIds.includes(collective.id)
                data-has-debt="true"
              )
              .inner.-k-btn.-fw-700= name

        -
          var _solidarityBloc = COLLECTIVES.slice();
          _solidarityBloc = _solidarityBloc.filter(c => c.name.indexOf('Solidarity') > -1)[0];
        p.-fw-500 Or if you don’t have debts:
        .pb3.mxn1
          label.UsersNewForm__collective-option.-fw
            input(
              name="collectiveIds"
              type="checkbox"
              value= _solidarityBloc.id
              checked= _formData && _formData.collectiveIds && _formData.collectiveIds.includes(_solidarityBloc.id)
              data-has-debt="false"
            )
            .inner.-k-btn.-fw-700 Joining in solidarity


        button#sign-up-btn-next.-k-btn.btn-primary.-fw.-fw-700(
          type="button"
          disabled= (_formData && _formData.collectiveIds && _formData.collectiveIds.length ? false : true)
        ) Continue...

      .UsersNewForm__step.js-step-2.hide
        p#modalSignupDesc.-fw-500.mb3 Now, let us know something about you

        .clearfix.pb2.mxn1
          .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Full name
          .col.sm-col-9.col-12.px1(class=errors && errors.fullname ? 'error' : '')
            input.-k-input.-fw(
              name="fullname"
              type="text"
              value=(_formData && _formData.fullname) || ''
            )
            p(class="-on-error -danger -caption -fw-500 mt1")

        .clearfix.pb2.mxn1
          .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Location
          .col.sm-col-9.col-12.px1
            .col.col-7
              .-k-select(class=errors && errors.state ? 'error' : '')
                select.-fw(name="state")
                  option(value="") State
                  each state in US_STATES
                    option(
                      value= state
                      selected!= _formData && _formData.state === state
                    )= state

              p(class="-on-error -danger -caption -fw-500 mt1")

            .col.col-5.pl1
              div(class=errors && errors.zip ? 'error' : '')
                input.-k-input.-fw(
                  type="text"
                  name="zip"
                  value=(_formData && _formData.zip) || ''
                  placeholder="ZIP"
                )
                p(class="-on-error -danger -caption -fw-500 mt1")

        .clearfix.pb2.mxn1
          .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Phone
          .col.sm-col-9.col-12.px1(class=errors && errors.phone ? 'error' : '')
            input.-k-input.-fw(
              type="tel"
              name="phone"
              value=(_formData && _formData.phone) || ''
              placeholder="Optional"
            )
            p(class="-on-error -danger -caption -fw-500 mt1")

        .clearfix.pb2.mxn1
          .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Email
          .col.sm-col-9.col-12.px1(class=errors && errors.email ? 'error' : '')
            input.-k-input.-fw(
              type="email"
              name="email"
              value=(_formData && _formData.email) || ''
            )
            p(class="-on-error -danger -caption -fw-500 mt1")

        .clearfix.pb2.mxn1
          .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Password
          .col.sm-col-9.col-12.px1(class=errors && errors.password ? 'error' : '')
            input.-k-input.-fw(
              type="password"
              autocomplete="off"
              name="password"
            )
            p(class="-on-error -danger -caption -fw-500 mt1")

        p.mb3.-fw-500.-caption By clicking Sign up, you agree to our #[a(href=routeMappings.tos.url() target='_blank') Community Agreement], including our Cookie Use.

        .clearfix.pb2.mxn1
          .col.sm-col-3.col-12.px1
            button#sign-up-btn-back.-k-btn.-fw.-fw-500(type="button")
              svg(width="14" height="14"): use(xlink:href="#svg-arrow-backward")
          .col.sm-col-9.col-12.px1
            button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Sign up

    p.pt3.center
      span.-fw-500 I’m already a member #[a(href=routeMappings.login.url()) Log in]
