extends ../layouts/application.pug

block title
  | About — The Debt Collective

block content
  .About__cover.relative
    .wrapper
      .About__cover-space
      .flex.px2.absolute.top-0.left-0.right-0.bottom-0.items-center.justify-center
        .max-width-2.center
          h2.pb2 About us
          h4.pb3 The Debt Collective leverages collective power by offering debtors a shared platform for direct action.

  .pt3.px2.-bg-primary
    .max-width-3.mx-auto
      h2.pt3 What is<br/>The Debt Collective?
      .clearfix
        .col.sm-col-1.col-12.xs-hide.sm-hide &nbsp;
        .col.sm-col-11.col-12
          p.pt3.-ff-sec In 2012, we launched the Rolling Jubilee as a public education campaign about the injustice of requiring public goods, such as education and healthcare, to be personally debt-financed. Our long-term aim is to transform personal grievances into collective political action by helping people realize that they are not “a loan.”

    -
      var founders = [
        'Hannah Appel',
        'Thomas Gokey',
        'Laura Hanna',
        'Luke Herrine',
        'Ann Larson',
        'Astra Taylor'
      ]

    .max-width-3.mx-auto.pt4.pb3
      .pt3.pb4
        .inline-block.center
          h3.-accent Founded by
      .clearfix
        .col.sm-col-1.col-12.xs-hide.sm-hide &nbsp;
        .col.sm-col-11.col-12
          ul.list-reset.clearfix.mxn2.max-width-2
            each founder in founders
              li.About__founder-item.inline-block.align-top.col.sm-col-4.col-6.px2.mb3
                h4= founder

  -
    var press = [
      {
        logo: '/images/about/press/fusion.jpg',
        title: 'fusion.net',
        url: 'http://fusion.net/story/204007/students-ruined-by-for-profit-colleges-fight-back/',
        desc: 'These students were ruined by predatory colleges. Now they’re getting even.'
      },
      {
        logo: '/images/about/press/the-guardian.jpg',
        title: 'theguardian.com',
        url: 'http://www.theguardian.com/money/2014/sep/17/occupy-activists-student-debt-corinthian-colleges',
        desc: 'Occupy activists abolish $3.85m in Corinthian Colleges students’ loan debt.'
      },
      {
        logo: '/images/about/press/wp.jpg',
        title: 'washingtonpost.com',
        url: 'http://www.washingtonpost.com/news/storyline/wp/2014/09/17/how-one-student-got-burned-by-a-for-profit-college-and-bailed-out-by-occupy-wall-street/',
        desc: 'How one student got burned by a for-profit college and bailed out by Occupy Wall Street.'
      },
      {
        logo: '/images/about/press/aljazeera.jpg',
        title: 'aljazeera.com',
        url: 'http://america.aljazeera.com/opinions/2014/9/strike-student-debt.html',
        desc: 'Once people realize how little student loans are worth to creditors, they might ask why they should pay them back'
      }
    ]

  .max-width-4.mx-auto.px2.my4.-bg-white
    .max-width-3.mx-auto.pb2.-bg-white.-dark
      h2.py4 Press
      ul.list-reset.clearfix.mxn2.md-flex.flex-wrap
        each item in press
          li.col.md-col-6.col-12.px2.mb4
            a(href= item.url rel="noopener noreferrer" target="_blank").block.clearfix
              .col.sm-col-2.md-col-3.col-3.center
                img.About__press-item-image.fit.circle(src=item.logo)
              .col.sm-col-10.md-col-9.col-9.pl3
                p.pb1.-caption.-primary.-ttu.-fw-700= item.title
                p.-dark.-fw-700= item.desc

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewHomeAbout(options);
    }, true);
