/* interaction */
.-pen {
  pointer-events: none;
}

/* sizes */
.-s18 {
  width: 18px;
  height: 18px;
}

/* colors */
.-primary {
  color: var(--k-color-palette-primary);
}

.-accent {
  color: var(--k-color-palette-accent);
}

.-danger {
  color: var(--k-color-palette-danger);
}

.-success {
  color: var(--k-color-palette-success);
}

.-white {
  color: #fff;
}

.-dark {
  color: #000;
}

.-neutral-mid {
  color: var(--k-color-palette-neutral-mid);
}

/* background colors */
.-bg-primary {
  background-color: var(--k-color-palette-primary);
}

.-bg-accent {
  background-color: var(--k-color-palette-accent);
}

.-bg-white {
  background-color: #fff;
}

.-bg-light-pattern {
  background-color: var(--k-color-palette-neutral-light);
  background-image: url(/images/global/bg-white-pattern.gif);
  background-position: 50% 0;
  background-repeat: repeat;
}

.-bg-neutral-light {
  background-color: var(--k-color-palette-neutral-light);
}

.-bg-neutral-dark {
  background-color: var(--k-color-palette-neutral-dark);
}

/* borders */
.-border-accent {
  border-color: var(--k-color-palette-accent);
}

/* stroke color */
.-stroke-accent {
  stroke: var(--k-color-palette-accent);
}

/* stroke widths */
.-sw5 {
  stroke-width: 5;
}

.-sw7 {
  stroke-width: 7;
}

/* border widths */
.-bw5 {
  border-width: 5px;
}

/* text */
.-ttu {
  text-transform: uppercase;
}

.-wsnw {
  white-space: nowrap;
}

/* form errors */
.-on-error {
  display: none;
}

.error .-on-error,
.error + .-on-error {
  display: block;
}

.error .-k-input,
.error .-k-textarea,
.error.-k-select {
  color: var(--k-color-palette-danger);
  background-color: color(var(--k-color-palette-danger) tint(80));
}

.error select {
  color: var(--k-color-palette-danger);
}

.error ::placeholder {
  color: color(var(--k-color-palette-danger) tint(40));
}

/* knockout text */
.-h-sec {
  line-height: 1.5em;

  & > span {
    white-space: pre-wrap;
    box-decoration-break: clone;
    padding: 0 1rem 0.25rem;
    background-color: var(--k-color);
    color: var(--k-background-color);
    mix-blend-mode: screen;
  }

  &.-accent > span {
    background-color: var(--k-color-palette-accent);
  }
}

h4.-h-sec > span {
  padding: 0 0.5rem;
}

/* secondary font */
.-ff-sec {
  font-family: 'Space Mono', monospace;

  &.-h4 {
    font-size: 22px;
    line-height: 1.5;
  }
}

.wf-spacemono-n4-active .-ff-sec {
  font-family: 'Space Mono', monospace;

  &.-h4 {
    font-size: 21px;
    line-height: 1.618;
  }
}

/* status colors */
.-status {
  &-incomplete {
    color: #f8e71c;
  }

  &-completed {
    color: #7ed321;
  }

  &-in-review {
    color: #268aff;
  }

  &-documents-sent {
    color: #f04c34;
  }

  &-update {
    color: #50e3c2;
  }
}

.-status-bg {
  &-incomplete {
    background-color: #f5a623;
  }

  &-completed {
    background-color: #f04c34;
  }

  &-in-review {
    background-color: #267de2;
  }

  &-documents-sent {
    background-color: #d0021b;
  }

  &-update {
    background-color: #4d9900;
  }
}

@media (max-width: 52em) {
  .md-left-align {
    text-align: left;
  }

  .md-center-align {
    text-align: center;
  }
}

@media (max-width: 40em) {
  .xs-left-align {
    text-align: left;
  }
}
