@import '../../../components/Tag';
@import '../../../components/Pagination';
@import '../../../components/Multiselect';

button[data-add-status] {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
