.Tool {
  counter-reset: steps;
}

.Tool__sidebar-steps {
  & > li {
    counter-increment: steps;
  }
}

.Tool__sidebar-step {
  padding: var(--space-1) 0 var(--space-1) var(--space-3);
  color: var(--k-color-palette-neutral-mid);

  & > svg {
    opacity: 0;
    transform: translate3d(10px, 0.3em, 0);
    position: absolute;
    left: 0;
    transition: transform 300ms, opacity 300ms;
  }

  &[disabled] {
    opacity: 0.5;
  }

  &:hover:not(.-current):not(:disabled) {
    opacity: 0.8;
  }

  &.-done {
    color: #fff;

    & .svg-done {
      opacity: 1;
      transform: translate3d(0, 0.3em, 0);
    }

    &[disabled] {
      text-decoration: line-through;
    }
  }

  &.-current {
    color: var(--k-color-palette-accent);

    & .svg-current {
      opacity: 1;
      transform: translate3d(0, 0.3em, 0);
    }
  }

  transition: color 300ms, opacity 300ms;

  &::before {
    content: counter(steps) ') ';
  }
}

@media (--breakpoint-lg) {
  .Tool__sidebar {
    position: fixed;
    width: 270px;
  }
}
